@media (max-width:768px) {
  // common
  .mbr {
    display:block
  }
  .is-mobile {
    display: block;
  }
  // layout
  body.menu-open {
    overflow:hidden;
  }
  .wrapper {
    padding:40px 30px 0 30px;
    max-width:100%;
  }
  .header {
    z-index:1000;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    margin:0;
    padding:40px 30px 0 30px;
    .main-menu {
      z-index:-1;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      min-height:100%;
      display:block;
      visibility:hidden;
      padding:40px 30px 35px 30px;
      opacity:0;
      background:#000;
      transform:scale(0.9);
      transition:all 0.3s ease-out;
      .logo {
        display:block;
      }
      ul {
        margin:70px 0 0 0;
        li {
          float:none;
          margin:0;
          font-size:30px;
          font-weight:500;
          line-height:1.6;
          a {
            color:#fff;
          }
        }
      }
      .text {
        margin:100px 0 0 0;
        font-size:14px;
        font-weight:100;
        font-family: "CircularStd";
        line-height:1.4;
        color:#fff;
        letter-spacing:0;
        p ~ p {
          margin:110px 0 0 0;
        }
      }
    }
    .btn-hamburger {
      position: absolute;
      top:40px;
      right:30px;
      display:block;
      width:30px;
      height:30px;
      text-align:right;
      outline:none;
      background:none;
      border:none;
      &::before,
      &::after{
        position:absolute;
        top:0;
        right:0;
        display:block;
        content:'';
        width:24px;
        height:3px;
        background:#000;
        transition:all 0.3s ease-out;
      }
      &::after {
        top:12px;
      }
      .blind {
        overflow:hidden;
        display:block;
        text-indent:-9999px;
        text-align:left;
      }
    }
    &.is-open {
      height:100%;
      overflow-x:hidden;
      overflow-y:auto;
      -webkit-overflow-scrolling:touch;
      .btn-hamburger {
        z-index:10;
        &::before,
        &::after{
          right:-3px;
          top:10px;
          background:#fff;
        }
        &::before{
          transform: rotate(-45deg);
        }
        &::after{
          transform: rotate(45deg);
        }
      }
      .main-menu {
        z-index:1;
        visibility:visible;
        opacity:1;
        transform:scale(1);
      }
    }
  }
  .footer {
    margin:0;
    padding-bottom:60px;
    img {
      float:none;
    }
    address{
      display:block;
      margin:10px 0 0 0;
      float:none;
    }
  }
  
  .section {
    &-01 {
      margin-top:100px;
      .title {
        font-size:30px;
        letter-spacing:-0.5px;
      }
      .text {
        margin:67px 0 0 0;
        font-size:16px;
        line-height:1.75;
        letter-spacing:-0.5px;
        & ~ .text {
          margin-top:36px;
        }
      }
      .img {
        margin-right:-30px;
        width:auto;
      }
    }
    &-02 {
      margin-top:50px;
      .title {
        font-size:40px;
      }
    }
    &-03 {
      margin-top:50px;
      .title {
        margin-bottom:14px;
        font-size:40px;
      }
      .category {
        font-size:20px;
        font-weight:100;
      }
    }
    &-04 {
      margin-top:50px;
      .title {
        float:none;
        margin:0;
        font-size:28px;
        letter-spacing:-0.5px;
      }
      .text {
        float:none;
        margin:0;
        font-size:24px;
        line-height:1.42;
      }
      .mail {
        padding-bottom:15px;
        font-size:20px;
        letter-spacing:0;
        &::before{
          height:2px;
        }
        i {
          top:0;
          font-size:24px;
        }
      }
    }
  }


  // business
  .business {
    display:flex;
    flex-wrap:wrap;
    // justify-content: space-between;
    flex-direction: column;
    &-group {
      display:block;
      width:100%;
      padding:0;
    }
    &-title {
      margin:0;
      font-size:24px;
    }
    &-list {
      font-size:16px;
      line-height:1.75;
    }
    &-img {
      margin:0;
    }
  }

  // masonry
  .masonry {
    &-list {
      &-item {
        width:100%;
        padding:0;
        &:nth-child(2){
          padding:0;
        }
        & ~ li {
          margin-top:50px;
        }
      }
    }
    &-more {
      padding:4px 0;
      border-width:2px;
      i {
        top:3px;
        font-size:20px;
      }
    }
  }

  // card
  .card {
    // display:none;
    &-img {
      overflow:visible;
      img {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        transform: scale(1);
      }
      &:hover{
        transform: scale(1);
      }
    }
    // &-text {

    // }
    &-state {
      position: static;
      display:block;
      right:0;
      bottom:0;
      margin:13px 0 0 0;
      transform:rotate(0)
    }
  }
}
