@import "abstract/normalize";
@import "abstract/reset";
@import "abstract/fonts";

$width: 960px;

body {
  font-family: "SourceHansSansK", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

br {
  // IE계열에서 네모로 표시되는 이슈
  opacity: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.br {
  display: block;
}

.wrapper {
  margin: 0 auto;
  max-width: $width;
}

.header {
  position: relative;
  margin: 62px 0;
  .logo {
    width: 100px;
  }
  .main-menu {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "CircularStd";
    font-size: 20px;
    letter-spacing: -0.4px;
    ul {
      li {
        float: left;
        margin: 0 16px;
        &:last-child {
          margin-right: 0;
        }
      }
      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }
    a {
      color: #222;
    }
  }
}

.section {
  &-01 {
    margin-top: 100px;
    .title {
      font-size: 50px;
      letter-spacing: -1px;
      font-family: "CircularStd";
      line-height: normal;
    }
    .text {
      margin: 40px 0;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: -0.63px;
    }
    .img {
      margin: 93px 0;
      width: 1190px;
      overflow: hidden;
    }
  }
  &-02 {
    .title {
      margin-bottom: 76px;
      color: #222;
      font-size: 50px;
      font-family: "CircularStd";
      letter-spacing: -0.94px;
    }
  }
  &-03 {
    margin: 100px 0;
    .title {
      margin-bottom: 30px;
      font-size: 50px;
      font-family: "CircularStd";
      letter-spacing: -0.94px;
    }
    .category {
      margin-bottom: 50px;
      font-size: 24px;
      font-family: "CircularStd";
      letter-spacing: -0.45px;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      a {
        display: inline-block;
        margin: 0 13px;
        color: #222;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  &-04 {
    margin-bottom: 190px;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    .title {
      float: left;
      width: 100%;
      margin: 43px 0;
      color: #222;
      letter-spacing: -1.88px;
      font-weight: bold;
      font-family: "CircularStd";
      font-size: 100px;
      line-height: normal;
    }
    .text {
      float: right;
      margin: 43px 0;
      margin-right: 80px;
      font-size: 40px;
      line-height: 58px;
      letter-spacing: -1.25px;
    }
    .mail {
      position: relative;
      margin-top: 50px;
      padding-bottom: 34px;
      float: left;
      display: block;
      width: 100%;
      font-size: 80px;
      font-weight: 200;
      letter-spacing: -1.5px;
      color: #222;
      i {
        position: absolute;
        top: 10px;
        right: 0;
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 6px;
        background-color: #313131;
      }
    }
  }
}

.business {
  display: table;
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  a {
    color: #222;
  }
  &-group {
    display: table-cell;
    width: 33.33%;
    padding: 0 10px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  &-title {
    margin: 34px 0;
    color: #222;
    font-size: 24px;
    font-family: "CircularStd";
    letter-spacing: -0.45px;
  }
  &-img {
    position: relative;
    margin-top: 38px;
    padding-top: calc(100% * (200 / 300));
    background-color: #fff;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.masonry {
  &-list {
    margin: 0 0;
    &-item {
      width: 50%;
      padding: 22px 80px 22px 0;
      &:nth-child(2) {
        padding-top: 156px;
      }
    }
  }
  &-more {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    padding: 6px 0;
    min-width: 120px;
    text-align: left;
    border: none;
    background: none;
    border-bottom: 3px solid #222;
    font-family: "CircularStd";
    cursor: pointer;
    i {
      position: absolute;
      top: 6px;
      right: 0;
    }
  }
}

.card {
  color: #222;
  &-img {
    margin-bottom: 20px;
    position: relative;
    padding-top: calc(100% * (550 / 400));
    background-color: #e9e9e9;
    transition: box-shadow .4s, transform .2s;
    cursor: pointer;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url(../img/logo.png) no-repeat 50% 50% / 138px auto;
      opacity: 0.1;
    }
    &-label {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 16px;
      color: #959595;
      z-index: 1;
      font-family: "CircularStd";
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
    &:hover {
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      transform: scale(1.02);
    }
  }
  &-title {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  &-text {
    font-size: 16px;
    font-family: "CircularStd";
    font-weight: 200;
  }
  &-state {
    position: absolute;
    bottom: 90px;
    right: 60px;
    color: #959595;
    font-size: 16px;
    font-family: "CirculaStd";
    font-weight: 200;
    transform: rotate(90deg);
    transform-origin: 100% 100%;
  }
}

.footer {
  margin: 125px 0;
  color: #959595;
  font-size: 14px;
  font-family: "CircularStd";
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  img {
    float: left;
    width: 100px;
    opacity: 0.5;
  }
  address {
    margin-top: 3px;
    float: right;
  }
}

// easing
[data-aos] {
  body[data-aos-easing="203labs"] &,
  &[data-aos][data-aos-easing="203labs"] {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

// custom transition
[data-aos="scale-up"] {
  opacity: 0;
  transform: translateY(100px) scale(0.8);
  img {
    transition: transform 1s;
    transform: scale(1.2);
  }

  &.aos-animate {
    opacity: 1;
    transform: translateY(0) scale(1);
    img {
      transform: scale(1);
    }
  }
}

[data-aos="shift-up"] {
  display: block;
  opacity: 0;
  transform: translateY(60px);
  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}

