@import "abstract/normalize";
@import "abstract/reset";
@import "abstract/fonts";

$width: 960px;

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-weight: 200;
}

br {
  // IE계열에서 네모로 표시되는 이슈
  opacity: 0;
}

a {
  text-decoration: none;
}

.br {
  display: block;
}

.wrapper {
  min-width: $width;
}
