@font-face {
  font-family: "CircularStd";
  font-weight: 200;
  src: url("../fonts/CircularStd-Book.woff"),
    url("../fonts/CircularStd-Book.woff2");
}

@font-face {
  font-family: "CircularStd";
  font-weight: normal;
  src: url("../fonts/CircularStd-Medium.woff"),
    url("../fonts/CircularStd-Medium.woff2");
}

@font-face {
  font-family: "CircularStd";
  font-weight: bold;
  src: url("../fonts/CircularStd-Bold.woff"),
    url("../fonts/CircularStd-Bold.woff2");
}

@font-face {
  font-family: "SourceHansSansK";
  font-weight: normal;
  src: url("../fonts/SourceHanSansK-Medium.woff"),
    url("../fonts/SourceHanSansK-Medium.woff2");
}

@font-face {
  font-family: "SourceHansSansK";
  font-weight: bold;
  src: url("../fonts/SourceHanSansK-Bold.woff"),
    url("../fonts/SourceHanSansK-Bold.woff2");
}
