@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 200;
  src: url("../fonts/NanumBarunGothicLight.woff"),
    url("../fonts/NanumBarunGothicLight.woff2");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-weight: normal;
  src: url("../fonts/NanumBarunGothic.woff"),
    url("../fonts/NanumBarunGothic.woff2");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-weight: bold;
  src: url("../fonts/NanumBarunGothicBold.woff"),
    url("../fonts/NanumBarunGothicBold.woff2");
}

@font-face {
  font-family: "NanumSquareRound";
  font-weight: 200;
  src: url("../fonts/NanumSquareRoundOTFL.woff"),
    url("../fonts/NanumSquareRoundOTFL.woff2");
}

@font-face {
  font-family: "NanumSquareRound";
  font-weight: normal;
  src: url("../fonts/NanumSquareRoundOTFR.woff"),
    url("../fonts/NanumSquareRoundOTFR.woff2");
}

@font-face {
  font-family: "NanumSquareRound";
  font-weight: bold;
  src: url("../fonts/NanumSquareRoundOTFEB.woff"),
    url("../fonts/NanumSquareRoundOTFEB.woff2");
}
